/* Extra Small Screen - Smart Phones and Tablets */
@media (max-width: 767px) {
  /* Enter your style for screens under 767px bellow this line  */
	.navbar-links, .right-align {display: none;}
	.nav .sidebar-icon {display: block !important;}
	
	.carousel-inner .item {
        height: 350px;
        background-position: center center;
    }
	.carousel-inner .item img {
		height: 350px;
	}
	#info .Info p{
		position: absolute;
		bottom: 100px;
		margin: 0;
	}
	#info-2 p {
		margin-top: 150px;
	}
	#info-3 p {
		position: absolute;
		top: 500px;
		z-index: 3;
		margin: 0;
	}
	
	#about .part2 p{
		width: 40%;
		line-height: 1.3;
	}
	#about .part2 h3{
		
	}
	
	#products {height: auto;}
	
	#products .row-products{}
	
	#products .image { 
	/*position: absolute;*/
	/*margin: 0 15px ;*/
	transition: all 0.5s ease-in-out;
	}
   
	#products img { 
	width: 45%;
	margin: 0 10px ;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
	}
	/* Contact Page */
	.tab-pane .section-content > img{
		width: 100%
	}
}

#products .product4{margin: 0 0;}
.thumbnail-products {border-radius: 10px; padding-bottom: 20px}
	
.thumbnail-products button{
	padding: 10px 20px;
	font-size: 14px;
    line-height: 16px;
	background-color: #000;
	border: none;
	border-radius: 10px;
	margin-left: 20px;
	}
	
.product1 button {color: #40a496}
.product1 button:hover{	background-color:#40a496;color: #000}
	
.product2 button{ color: #d83762;}
.product2 button:hover	{background-color: #d83762;color: #000}
	
.product3 button { color: #5f2b71;}
.product3 button:hover	{background-color: #5f2b71;color: #000}
	
.product4 button { color: #87b44c;}
.product4 button:hover	{background-color: #87b44c;color: #000}}
	
	
	footer .site {
		/* height: 300px; */
	}
	footer .Catagories{
		/* height: 300px; */
	}

	.mobile-nav{
		width: 100%;
		position: absolute;
		left: 0;
		font-size: 18px;
		background-color: #000;
	}
	.mobile-nav .sidebar{
		display: none;
	}
	.mobile-nav ul{
		padding: 0;
		width: 85%
	}
	.mobile-nav li a{
		color: #fff;
		width: 100%;
		display: block;
		padding: 10px;
	}
	.mobile-nav li {
		transition: all 0.5s ease-in-out;
		padding: 5px;
		width: 100%;
	}
	.mobile-nav li a{
		transition: all 0.5s ease-in-out;
	}
	.mobile-nav li:hover {
		color: #000;
		cursor: pointer;
	}
	.mobile-nav li:hover a{
		background-color: #eee;
		color: #000;
	}
	#closeBtn{
		position: absolute;
		display: block;
		width: 10%;
		height: 28px;
		right: 0;
		z-index: 9999;
		top: 10px;
	}
	.sidebar-icon{
		position: absolute;
		right: 5px;
		top: 10px;
		font-size: 25px;
	}
	.sidebar-icon a > span {
		color: #fff;
	}
/* Small Screen */
@media (min-width: 768px) and (max-width: 991px) {
	.sidebar-icon{display: none}
  /* Enter your style for screens between 768px and 991px bellow this line  */
	
	/* .nav .sidebar-icon {display: block !important;} */

  	.navbar-links, .right-align {display: none;}
	
	.carousel-inner .item {
        height: 550px;
        background-position: center center;
    }
	.carousel-inner .item img {
		height: 550px;
	}
	#info .Info p{
		position: absolute;
		bottom: 100px;
		margin: 0;
	}
	#info-2 p {
		margin-top: 150px;
	}
	#info-3 p {
		position: absolute;
		top: 500px;
		z-index: 3;
		margin: 0;
	}
	
	footer .site {
		height: 300px;
	}
	footer .Catagories{
		height: 300px;
	}
	
}
@media (max-width: 991px){
	.sidebar-icon{display: block}
	#about .part2 .about1 p{
		font-size: 18px;
		/* width: 100%; */
		/* left: 0; */
	}
	#about .part2 .about1 h3{
		font-size: 25px;
	}
}
@media (max-width: 650px){
	#about .part2 .about1 p{
		font-size: 13.5px;
	}
	#about .part2 .about2 p{
		font-size: 17.5px
	}
	#about .part2 p{
		font-size: 16px;
	}
	#about .part2 h3{
		font-size: 20px
	}
	#about .part2 .about4 p{
		font-size: 16px;
	}
}
/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px) {
	footer .site {
		/* height: 300px; */
	}
	footer .Catagories{
		/* height: 300px; */
	}
	
}
/* Large Screen */
@media (min-width: 1200px) {
  /* Enter your style for screens above 1200px bellow this line  */


footer .site {
		height: 300px;
	}
		
footer .Catagories{
		/* height: 300px; */
	}
	
}
